@import "../../_globalColor";

.meter {
  height: 14px;
  position: relative;
  background: $progressBarBackground;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.meter>span {
  display: block;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: $progressBarSpanBG;
  position: relative;
  overflow: hidden;
}

.skill {
  line-height: 2.5rem;
}

.skill p {
  margin: 0;
  font-size: 15px;
}

.skill-bars {
  font-size: 28px;
  width: 40%;
}

.skills-container {
  display: flex;
  align-items: center;
  width: 90%;
  padding: 10px 10px;
  margin: 0px auto;
  margin-top: 1rem;
}

.skills-bar {
  flex: 3;
  margin-bottom: 10px;
}

.skills-image {
  flex: 2;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-image>img {
  max-width: 80%;
  height: auto;
}

.skills-heading {
  font-size: 40px;
}

/* Media Query */

@media (max-width: 1456px) {
  .skills-bar {
    line-height: 3rem;
  }

  .skills-image {
    display: none;
    order: 2;
  }
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
  }

  .skills-bar {
    line-height: 2.5rem;
    margin: 10px;
  }

  .skills-image {
    display: none;
    order: 2;
  }

  .skills-heading {
    font-size: 30px;
  }
}